*background:              #131926
*foreground:              #B7B7B7

Xft.dpi: 96
Xft.antalias: true
Xft.rgba: rgb
Xft.hinting: true
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault

URxvt*geometry: 83x23
URxvt*font: xft:Droid Sans Mono:size=9
URxvt*boldFont: xft:Droid Sans Mono:size=9
URxvt*urlLauncher: chrome
URxvt*scrollBar: false
